<h1><%= @post.title %></h1>
<h4>Author: <%= @post.author.username %></h4>
<%= link_to "is this true? click here", link_helper(@post.url) %>
<br><br>
<%= @post.content %>

<br><br><br><font color = "Red">

<left>
<ul>
<% @comments_hash[nil].each do |comment| %>
  <li><%= render "comment", comment: comment %></li>
<% end %>
</ul>
</left>
<br><br><br></font color>

<%= link_to "<< Write Comment", new_post_comment_url(@post) %>
<br><br><br>
<%= link_to "<< Edit Post",
edit_post_url(@post) if current_user == @post.author %><br>

<br><br><br>
Sub List:
<br>
<% @post.subs.each do |sub| %>
  <%= link_to "<< To #{sub.title}", sub_url(sub) %>
  <br>
<% end %>
